// Navbar
$navbar-default-link-color: white;
$navbar-default-bg: #D7ADFF;
$grid-float-breakpoint: 1000px;

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $navbar-default-bg;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family: 'Montserrat', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #61687d;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

h1{
  font-size: 55px !important;
  font-family: 'Great Vibes', cursive !important;
}

.panel-default {
  color: $text-color;
}

.panel-heading {
  color: $text-color !important;
}

#googleMap {
  width: 100%;
  height: 400px;
}

.blueBack {
  background: #7A89C2 !important;
  color: white;
}

.lilacBack {
  background: $navbar-default-bg !important;
  color: white;
}

.grayBack {
  background: #72788D !important;
  color: white;
}

#timer{
  border-radius: 15px;
  background: $navbar-default-bg;
  color:white;
  padding: 3px;
  width: 70px;
  height: 100px;
  text-align: center;
  display: inline-block;
}